// Navigation code here here
.nav {
    background-color: #F6F6F6;


    @media @mobile {
        width: 100%;
    }

    &--center {
        text-align: center;
        padding: 30px 0;
    }

    &--logo {
        font-size: 5.4rem;
        align-items: center;
        animation-name: moveInLeft;
        animation-duration: 1s;

        transition: all .2s;

        h1:hover {

            transform: skewY(2deg) skewX(20deg) scale(1.2);


        }



        @media @mobile {
            font-size: 4.5rem;
        }
    }

    &--items {
        margin-top: 3rem;
        animation-name: moveInRight;
        animation-duration: 1s;
        margin-bottom: -10px;

        a {
            font-size: 2.2rem;
            color: @nav-font;
            padding: 1.3rem;
            text-decoration: none;

            @media @mobile {
                padding: 1rem;
                font-size: 1.9rem;

            }


            &:hover {
                background-color: @shuttle-gray;
                box-shadow: 1px 2px 4px rgba(252, 4, 4, 0.986);
                .text-color(@shuttle-gray);

            }


        }




    }
}